	html,body{
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		/* overflow-x: hidden; */
	}
body{
	margin:0px;
/*	width: 100%;*/
}

/**Body Header **/
#body-header{
	height: 65vh;
	width: 100vw;
	opacity: 0.8;
	background-image: url(./images/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.horizontal-list{
	list-style: none;
	padding-left:0px ;
	text-align: center;
	margin-top:0px ;
}
.horizontal-list li{
	display: inline-block;
	margin: 0px 8px 8px 0px;

}
.horizontal-list li a{
	color: white;
	text-decoration: none;
}

.horizontal-list li a:hover{
	color: rgb(173,174,176);
	border-bottom: 1px solid white;
	transition: color 0.5s, border-bottom 4s;
}

.text-align{
	text-align: center;
}
.fa-bars, .fa-navicon{
	visibility: hidden;
}
.fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
/*    position: relative;*/
    left: 94vw;
    color: white;
  	font-size: 30px;
}

/*title*/
#body-title h1{
	text-align: center;
	text-decoration: none;
	color: white;
	border-bottom: none;
	font-size: 50px;
/*	margin-top: 150px ;*/
}

/* Social Media*/
.text-center {
    text-align: center;
}
.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}
.social-icons-horizontal{
	list-style: none;
	padding-left:0px ;
	text-align: center;
	margin-top:0px ;
}
.social-icons-horizontal li{
	display: inline-block;
	margin: 0px 8px 8px 0px;

}
.social-icons-horizontal li a{
	color: white;
	text-decoration: none;
}

.social-icons-horizontal li a:hover{
	color: rgb(173,174,176);
	border-bottom: 1px solid white;
	transition: color 0.5s, border-bottom 4s;
}



.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.links{
	list-style: none;
	padding-left:0px ;
	text-align: center;
}

.links li{
	display: inline-block;
	margin: 0px 15px 15px 0px;
}

.links li a i{
	height: 30px;
	width: 30px;
}
.links li a i:hover{
	height: 35px;
	width: 35px;
	margin: 4px;
/*	border-radius: 40%;*/
	transition: margin 0.5s;
/*	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3) ;*/
}
/*About*/
#about{
	height: auto;
	width: 100%;
	position: relative;
	text-align: center;
}
#my-img{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}
#my-img img{
	height: 110%;
	width: 110%;
	 box-shadow: 0px 0px 5px 5px #495159;
  border-radius: 50%;
/*  box-shadow: 0px 0px 5px 5px #888888;*/

}

/*#my-img img:hover{
	height: 110%;
	width: 110%;
	 box-shadow: 0px 0px 5px 5px #495159;
	transition: height 0.5s, width 0.5s, box-shadow 0.5s;

}

*/

#info {
	font-size: 30px;
	text-align: center;
	padding: 10px 100px 0px 100px;
	

}

/*Section*/
section{

	height: auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section:nth-child(2n){
	background-color: #EFEFEF;
}
section:nth-child(2n+1){
	background-color: white;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	margin: 10px auto;
	font-weight: 400;

}
.section-heading span{
	font-size: 40px;
	display: inline-block;
	padding-top:10px ;
	margin: 0.5rem;
	color: #2857a4;
}


/*skills*/

.skills-display {

    width: 70%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
/*    align-items: center;*/
    padding-bottom: 40px;
    
}

/*
.skills-display {
    width: 70%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    flex-direction: row;
}
*/

.skills-progress{
	height: 2rem;
	width: 10rem;
	border: 2px  black;
	border-radius: 0.8rem;
	background-color: lightgrey;
	margin: 50px 50px 0px 50px;
	
}
.skills-progress h5{
/*	width: 70%;*/
	display: inline;
	color: white;
/*	background-color: blue;*/
}
.skills-progress>div{
	border-radius:10px 0px 0px 10px;
	 box-shadow: 4px 0px 4px 0px grey;

}

/*Skill color*/
.mb-blue{
	background-color: #254F98;
}
.mb-orange{
	background-color: #EC4D1C;
}
.mb-pink{
	background-color: #93738C;
}
.mb-green{
	background-color: #0B8176;
}

.skills-name{
	color: white;
	margin-left: 5px;
	display: flex;
/*	justify-content: center;*/
/*	align-items: center;*/
	font-size: 1.1rem;
	line-height: 1.8rem;
}

/*Percentage Section*/
.eighty-five-percent{
width: 0%;
height: inherit;
transition: 1.5s ease-in-out;
}

.ninty-five-percent{
	width: 0%;
	height: inherit;
transition: 1.5s ease-in-out;

}

.fifty-five-percent{
	width: 0%;
	height: inherit;
transition: 1.5s ease-in-out;

}
.sixty-five-percent{
	width: 0%;
	height: inherit;
transition: 1.5s ease-in-out;

}
.sixty-percent{
	width: 0%;
	height: inherit;
transition: 1.5s ease-in-out;

}
.seventy-five-percent{
	width: 0%;
	height: inherit;
transition: 1.5s ease-in-out;

}

/*Portfolio*/
.portfolio-display{
	align-items: center;
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4rem;
	flex-wrap: wrap ;
}
.portfolio-img{
width: 25%;
  height: auto;
  min-width: 150px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.portfolio-img img{
	  width: 100%;
  height: auto;
}
.portfolio-img:hover{
	 box-shadow: 0px 0px 12px 0px #6db5fd;
}
.portfolio-img:hover .middle{
	 cursor: pointer;
  opacity: 1;
}
.portfolio-img .middle{
	  background-color: rgba(53, 53, 53, 0.315);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.portfolio-img .middle .portfolio-text {
  padding: 1.5rem;
  font-size: 1.5rem;
  color: white;
}



/*Contact*/
#contact{
background: linear-gradient(to right top, #2857a4, #403066 70%);
height: 100vh;
}
.display-contact{
	
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 4rem;
	overflow-wrap:wrap ;
	flex-wrap: wrap;

}

.section-heading-contact{
	width: auto;
	padding: 20px 10px 10px;
	margin: 10px auto;
	font-weight: 400;

}
.section-heading-contact span{
	font-size: 40px;
	display: inline-block;
	padding-top:10px ;
	margin: 0.5rem;
	color: white;
}
.form{
	width: 35%;
/*	margin-right: 100px;*/
}
.form input{
	outline-style: none;
/*	box-shadow: none;*/
	border: none;
	background: none;
}
.form textarea{
	outline-style: none;
	border: none;
	background: none;
}
.form hr{
	color: white;
}
.form button{
	background: none;
	border-color: white;
	color: white;
	margin: 30px 0px 0px 35% ;
	font-size: 15px;
	padding: 10px;
}
#get-in-touch{
/*	margin-top: -14px;*/
	width: 35%;
	color: white;
	font-size: 0.9rem;
}
#get-in-touch i{
	margin-right: 10px;
}
/*Timeline Box*/
.timeline{
	position: relative;
	width: 75%;

}

.timeline-box{
	position: relative;
	width:40%;
	margin:5px;

	left: 5%;
	min-height: 150px;
}
.timeline-box {
	font-size: 0.8rem;
}
.timeline-box h2, h3{
	text-align: right;
	margin-top: -10px;
	font-size: 0.9rem;
}
.timeline-box h1{
	text-align: right;
/*	font-size: 1rem;*/
	color: rgb(74,114,193);
}
.timeline-box h2{
	color: rgb(238,150,79);
}
.timeline-box h3{
	color: rgb(147,156,178);
}
.timeline-box p{
	color: rgb(147,156,178);
}

.timeline-box:nth-child(2n){
	left: 53%;
} 
.timeline-divider{
	position: absolute;
	left: 50%;
	top: 10%;
	width: 0%;
	border: 2px dashed #0096fa6b ;
	height: 65%;
}
.timeline-travellor{
	
	color: #254FAD;
	position: sticky;
	transform:rotate(90deg);
	top: 25%;
}
.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #D3D3D3;
	right: -12.5%;
	top: 25%;
}
.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: #D3D3D3;
	left: -9%;
	top: 25%;
}

/*media query*/
@media screen and (max-width:900px){
	#info{
		font-size: 20px;
	text-align: center;
	padding: 10px 30px 0px 30px;
	}

}


@media screen and (max-width:900px){
	.display-contact{
	
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 4rem;
	overflow-wrap: break-word ;
	flex-wrap: wrap;

}
#get-in-touch{
/*	margin-top: -14px;*/
	width: 100%;
	}
	.form{
	width: 100%;
}
}
#turn-off{
	visibility: hidden;
}
@media screen and (max-width:768px){
	#info{
		font-size: 15px;
	text-align: center;
	padding: 10px 10px 0px 10px;
	}

	.fa-bars, .fa-navicon{
	visibility: visible;
}
/*	.timeline-box:nth-child(2n){
	left: 23%;
} */
.timeline-divider{
	position: absolute;
	left: 5%;
}
.timeline-travellor{
	
	color: #254FAD;
	position: sticky;
	transform:rotate(90deg);
	top: 25%;
}
/*.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: grey;
	left: -23%;
	top: 23%;
}*/
.timeline-box::after{
	left: -22%!important;
}
.timeline-box{
	left: 19%!important;
	width: 70%;

}
.portfolio-img {
    width: 100%;
}
#body-title h1 {
	    font-size: 35px;
	        margin-top: 75px;
}
#body-header {
	height: 50vh;
	}
#my-img img {
	margin-top: 0px;

}
#info {
padding: 10px 35px 0px 35px;
	}
}

@media screen and (max-width:572px){
	#body-title{
		margin-top: 40px;
	}
	  #body-header {
    font-size: 10px;
    height: 45vh;
    min-height: 280px;
  }
  #body-header .checkbtn {
    display: block;
  }
  #body-header .nav-menu {
    position: absolute;
    min-width: 140px;
    width: 20%;
    height: auto;
    background-color: rgba(150, 150, 150, 0.918);
    top: 2.5em;
    right: 5%;
    box-shadow: 1px 1px 10px 4px white;
    border-radius: 4px;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
  }
  #body-header .nav-menu li {
    display: block;
    padding: 0.2em;
    padding-left: 16px;
    line-height: 2.2em;
    margin: 0;
    text-align: left;
  }
  #body-header #check:checked ~ .nav-menu {
    opacity: 1;
  }
  #name-social-container {
    font-size: 10px;
  }
  #name-social-container #header-name {
    letter-spacing: 0;
  }
  #name-social-container #header-name h1 {
    margin: 0;
  }
#contact{
	height: 120vh;
}
#target{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:0px;
	height: 0px;
	top: 0px;
	left: opx;
	overflow: hidden;
	transition: all 2s ease-in-out;
}
	#target:target{

    height:80%;
    width:40%;
    top:25%;;
    left:25%;
    background-color:lightgrey;
/*     padding:50%; */
}
#turn-off{
	visibility: visible;
	color: red; 
	text-align: center;
}

.horizontal-list li {
	display: block;
	margin: 8px 8px 8px 0px;
	font-size: 15px;

}
#body-title {
	margin-top: -50px;
}
#info{
	font-size: 1.5rem;
}
}




